.container {
    width: 1140px;
    margin: 0 auto;
}

#header {
    /*background: ;*/
}

.header {
    display: flex;
}

a{
    text-decoration: none;
}

#header {
    /*display: flex;*/
}

.header {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.header nav a {
    display: flex;
    justify-content: space-between;

}